<h3>Custom Select Components</h3>
<app-custom-mat-select-not-dependent
  [data]="userData"
  [identifierName]="'id'"
  [valueName]="'name'"
  [multiple]="true"
  [enableSelectAll]="true"
  [editMode]="false"
  formControlName="userName"
  [isFieldRequired]="true"
  [placeholder]="'User Name'"
>
</app-custom-mat-select-not-dependent>
<app-custom-mat-select-not-dependent
  [data]="genderData"
  [identifierName]="'id'"
  [valueName]="'name'"
  [multiple]="false"
  [enableSelectAll]="false"
  [editMode]="false"
  formControlName="gender"
  [isFieldRequired]="true"
  [placeholder]="'Gender'"
>
</app-custom-mat-select-not-dependent>
